.skill img{
    width: 250px;
    height: 250px; 
 }
 
 .skill-container{
     width: 250px;
     height: 409px;
     border: 1px solid #95A0A7;
     border-radius: 8px;
 }
 
 .btn-skill{
     width: 100%;
     background: blue;
     border-radius: 0px 0px 8px 8px;
 }